:root {

    --white-text: #f8fcff;
    --accent-text: #1d6fb6;
}

body {
    background: var(--white-text);
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 125%;
    color: #25282b;
}


.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px;
    height: 100%;
}

/* =================================================== */
.header {

    line-height: 1.5;
}


.header__inner {
    min-height: 108px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-content: center;
    align-items: center;
}

.header__logo {
    max-width: 54px;
}

.header__socials {
    justify-content: end;
}


.nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}



.socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    justify-content: end;
}


/* ==================================================== */


.hero {
    line-height: 1.5;
    color: var(--white-text);
    padding: 120px 0;
    position: relative;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 30px;

}

.hero__list {
    margin-bottom: 40px;

}

.hero__list-item {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 24px;
    transition: all 0.5s;
}


.hero__list-item:hover {
    color: var(--accent-text);
}

.hero__list-item path {
    transition: all 0.5s;
}

.hero__list-item:hover path {
    fill: var(--accent-text);
}




.hero__list-item:last-child {
    margin-bottom: 0px;
}



.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero__video video {

    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero__video::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #102e49cc;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    max-width: 288px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: var(--accent-text);
    background: #d0dce7;
    border-radius: 100px;
    transition: all 0.5s;
}

.button:hover {
    color: var(--white-text);
    background: #83add3;
}

/* =============================================== */
.main__general {
    padding: 120px 0;

}

.main__wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: start;
}

.main__sidebar {
    position: sticky;
    top: 5vh;
}


.main__body {
    width: 100%;
    max-width: 792px;
}

.main__gallery {
    margin-bottom: 120px;
}

.sidebar {
    border: 2px solid #d0dce7;
    max-width: 282px;
    width: 100%;
    padding: 30px;
    font-weight: 500;
    line-height: 20px;
    min-height: 60vh;
}


.sidebar__item {
    margin-bottom: 20px;
}

.sidebar__item:last-child {
    margin-bottom: 0px;
}


/* =============================================== */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 24px;
    color: var(--white-text);
    line-height: 20px;
    font-weight: 500;
}

.gallery__img {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;

}



.gallery__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.gallery__img--left--large {
    grid-column: 1/3;
    grid-row: span 2;


}

.gallery__img--right--large {
    grid-column: -1/-3;
    grid-row: span 2;
}

.gallery__hint {

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1d6fb6b3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    transform: translateY(100%);
    transition: all .5s;
    opacity: 0;
}


.gallery__img:hover .gallery__hint {
    transform: translateY(0%);
    opacity: 1;
}

.gallery__img--left--large .gallery__hint,
.gallery__img--right--large .gallery__hint {
    height: 103px;
    font-size: 24px;
    line-height: 29px;
}

/* ================================================ */



.products {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}



.products__item-img {
    position: relative;
    padding-bottom: 62%;
}

.products__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.products__item-budge {
    position: absolute;
    left: 0;
    top: 12.7%;
    padding: 18px 15px;
    border-radius: 0 100px 100px 0;
    background: var(--white-text);
    min-width: 33.9%;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    color: var(--accent-text);

    animation: budge-action 2s alternate infinite;
}

@keyframes budge-action {
    0% {
        min-width: 33.9%;
    }

    66.666% {
        min-width: 33.9%;
    }

    100% {
        min-width: 37.8%;
    }
}

.products__item-body {
    border: 1px solid #D9D9D9;
    ;
    border-top: none;
    padding: 30px 15px;
}

.products__item-button {
    margin: 0 auto;
}

/* ============================================ */
.footer {
    background: #788088;
    text-align: center;
    color: var(--white-text);
    line-height: 20px;
    padding: 30px;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}